@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/* @font-face{
  font-family:'font-title';
  src: url('../fonts/monoton/Monoton-Regular.ttf');
} */

@font-face{
  font-family:'font-title-2';
  src: url('../fonts/prometheus/PROMETHEUS.ttf');
}


:root {
  --primary: #de004d;
  --secondary: #860029;
  --light: #f887ff;
  --dark: #321450;
  --darker: #29132e;

  /* FONTS */
  --font-text:'Iceland', cursive;
}
