.profile_img{
    width:150px;
    height:150px;
    background-image: url(../assets/img/profile.jpg);
    background-size: 100%;
    background-position: center;
    border-radius:99px;
    border:1px solid white;
}

.prueba{
    color: #ffe69d;
}